<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Signup.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow roles="User" />
        <deny roles="NPO" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Anon.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MyHome.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SocialMediaToolkit.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
        <authorization>
            <allow roles="NPO" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>