<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Signup.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow roles="User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Anon.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NearlyThere.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MyHome.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
      <authorization>
        <allow roles="Merchant" />
        <allow roles="Admin"/>
        <deny users="*" />
      </authorization>
  </system.web>
</configuration>